1st_ctrl/WI_Wrapper/CalNode_server/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TranmitterLib" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="iGetAllWaveFormNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllWaveFormNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="iGetAllWaveFormNamesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllWaveForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllWaveFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="iGetAllWaveFormResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetWaveForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetWaveFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetWaveFormResult" nillable="true" type="q3:WaveForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddWaveForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="waveform" nillable="true" type="q4:WaveForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddWaveFormResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iDelWaveForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDelWaveFormResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iUpdateWaveForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="waveform" nillable="true" type="q5:WaveForm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iUpdateWaveFormResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllAntennaNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllAntennaNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="iGetAllAntennaNamesResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllAntenna">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllAntennaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="iGetAllAntennaResult" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAntenna">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAntennaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetAntennaResult" nillable="true" type="q8:Antenna" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddAntenna">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="antenna" nillable="true" type="q9:Antenna" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddAntennaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iDelAntenna">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDelAntennaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iUpdateAntenna">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="antenna" nillable="true" type="q10:Antenna" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iUpdateAntennaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllTransmitter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllTransmitterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="iGetAllTransmitterResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetTransmitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetTransmitterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetTransmitterResult" nillable="true" type="q12:Transmitter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddTransmitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="transmitter" nillable="true" type="q13:Transmitter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddTransmitterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iDelTransmitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDelTransmitterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iUpdateTransmitter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="transmitter" nillable="true" type="q14:Transmitter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iUpdateTransmitterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetTerNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetTerNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="iGetTerNamesResult" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetTer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetTerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetTerResult" nillable="true" type="q16:TerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddTerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="terinfo" nillable="true" type="q17:TerInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddTerInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iDelTerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDelTerInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatTablesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="putStr" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetMinTaskID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetMinTaskIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetMinTaskIDResult" nillable="true" type="q18:TaskInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetFilePath">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="filenames" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetFilePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="iGetFilePathResult" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iSetTaskState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskID" type="xs:int" />
        <xs:element minOccurs="0" name="state" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iSetTaskStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetProjectInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetProjectInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetProjectInfoResult" nillable="true" type="q21:ArrayOfProjectInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetTaskResultDir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TaskID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetTaskResultDirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iGetTaskResultDirResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetResultFileNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetResultFileNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="iGetResultFileNamesResult" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetResultDirNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="path" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetResultDirNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="iGetResultDirNamesResult" nillable="true" type="q23:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDelProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDelProjectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q24:guid" />
        <xs:element minOccurs="0" name="ip" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeartBeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="material" nillable="true" type="q25:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="materialname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetMaterialResult" nillable="true" type="q26:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDeleteMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iDeleteMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iUpdateMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="material" nillable="true" type="q27:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iUpdateMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllMaterial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetAllMaterialResult" nillable="true" type="q28:ArrayOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddTMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="material" nillable="true" type="q29:TMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddTMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddZMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="material" nillable="true" type="q30:ZMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddZMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddLZMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="material" nillable="true" type="q31:LZMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddLZMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllTMaterial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllTMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetAllTMaterialResult" nillable="true" type="q32:ArrayOfTMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllZMaterial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllZMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetAllZMaterialResult" nillable="true" type="q33:ArrayOfZMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllLZMaterial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllLZMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetAllLZMaterialResult" nillable="true" type="q34:ArrayOfLZMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetTMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="materialname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetTMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetTMaterialResult" nillable="true" type="q35:TMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetZMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="materialname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetZMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetZMaterialResult" nillable="true" type="q36:ZMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetLZMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="materialname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetLZMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetLZMaterialResult" nillable="true" type="q37:LZMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddZDYMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="material" nillable="true" type="q38:ZDYMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iAddZDYMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllZDYMaterial">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetAllZDYMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetAllZDYMaterialResult" nillable="true" type="q39:ArrayOfZDYMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetZDYMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="materialname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="iGetZDYMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/TranmitterLib" minOccurs="0" name="iGetZDYMaterialResult" nillable="true" type="q40:ArrayOfZDYMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>