1st_ctrl/WI_Wrapper/NodeApplication/Service References/ServiceReference1/TranmitterLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TranmitterLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TranmitterLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="WaveForm">
    <xs:sequence>
      <xs:element name="BandWidth" type="xs:double" />
      <xs:element name="EndFrequency" nillable="true" type="xs:double" />
      <xs:element name="FreChangeRate" nillable="true" type="xs:string" />
      <xs:element name="Frequency" type="xs:double" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Phase" nillable="true" type="xs:double" />
      <xs:element name="RollOffFactor" nillable="true" type="xs:double" />
      <xs:element name="StartFrequency" nillable="true" type="xs:double" />
      <xs:element name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WaveForm" nillable="true" type="tns:WaveForm" />
  <xs:complexType name="Antenna">
    <xs:sequence>
      <xs:element name="ApertureDistribution" nillable="true" type="xs:string" />
      <xs:element name="BlockageRadius" nillable="true" type="xs:double" />
      <xs:element name="EdgeTeper" nillable="true" type="xs:double" />
      <xs:element name="Length" nillable="true" type="xs:double" />
      <xs:element name="MaxGain" type="xs:double" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Pitch" nillable="true" type="xs:double" />
      <xs:element name="Polarization" nillable="true" type="xs:string" />
      <xs:element name="Radius" nillable="true" type="xs:double" />
      <xs:element name="RecieveThrehold" type="xs:double" />
      <xs:element name="Temperature" type="xs:double" />
      <xs:element name="TransmissionLoss" type="xs:double" />
      <xs:element name="Type" nillable="true" type="xs:string" />
      <xs:element name="VSWR" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Antenna" nillable="true" type="tns:Antenna" />
  <xs:complexType name="Transmitter">
    <xs:sequence>
      <xs:element name="AntennaName" nillable="true" type="xs:string" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Power" type="xs:double" />
      <xs:element name="RotateX" type="xs:double" />
      <xs:element name="RotateY" type="xs:double" />
      <xs:element name="RotateZ" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transmitter" nillable="true" type="tns:Transmitter" />
  <xs:complexType name="TerInfo">
    <xs:sequence>
      <xs:element name="Vertex1X" type="xs:double" />
      <xs:element name="Vertex1Y" type="xs:double" />
      <xs:element name="Vertex1Z" type="xs:double" />
      <xs:element name="Vertex2X" type="xs:double" />
      <xs:element name="Vertex2Y" type="xs:double" />
      <xs:element name="Vertex2Z" type="xs:double" />
      <xs:element name="Vertex3X" type="xs:double" />
      <xs:element name="Vertex3Y" type="xs:double" />
      <xs:element name="Vertex3Z" type="xs:double" />
      <xs:element name="Vertex4X" type="xs:double" />
      <xs:element name="Vertex4Y" type="xs:double" />
      <xs:element name="Vertex4Z" type="xs:double" />
      <xs:element name="Zmax" type="xs:double" />
      <xs:element name="Zmin" type="xs:double" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="originX" type="xs:double" />
      <xs:element name="originY" type="xs:double" />
      <xs:element name="path" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TerInfo" nillable="true" type="tns:TerInfo" />
  <xs:complexType name="TaskInfo">
    <xs:sequence>
      <xs:element name="ProName" nillable="true" type="xs:string" />
      <xs:element name="TaskID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="filenames" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="filepaths" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskInfo" nillable="true" type="tns:TaskInfo" />
  <xs:complexType name="ArrayOfProjectInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectInfo" nillable="true" type="tns:ProjectInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectInfo" nillable="true" type="tns:ArrayOfProjectInfo" />
  <xs:complexType name="ProjectInfo">
    <xs:sequence>
      <xs:element name="CreateTime" nillable="true" type="xs:dateTime" />
      <xs:element name="Directory" nillable="true" type="xs:string" />
      <xs:element name="EndTime" nillable="true" type="xs:dateTime" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Percent" nillable="true" type="xs:string" />
      <xs:element name="ProState" type="xs:short" />
      <xs:element name="ResultDirectory" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectInfo" nillable="true" type="tns:ProjectInfo" />
</xs:schema>